background = {color:bg-main}
foreground = {color:fg-main}
cursor-color = {color:fg-main}
selection-background = {color:bg-active}
selection-foreground = {color:fg-main}
palette = 0={color:fg-term-black}
palette = 1={color:fg-term-red}
palette = 2={color:fg-term-green}
palette = 3={color:fg-term-yellow}
palette = 4={color:fg-term-blue}
palette = 5={color:fg-term-magenta}
palette = 6={color:fg-term-cyan}
palette = 7={color:fg-term-white}
palette = 8={color:fg-term-black-bright}
palette = 9={color:fg-term-red-bright}
palette = 10={color:fg-term-green-bright}
palette = 11={color:fg-term-yellow-bright}
palette = 12={color:fg-term-blue-bright}
palette = 13={color:fg-term-magenta-bright}
palette = 14={color:fg-term-cyan-bright}
palette = 15={color:fg-term-white-bright}
