background = {color:bg-main}
foreground = {color:fg-main}
cursor-color = {color:fg-main}
selection-background = {color:bg-active}
selection-foreground = {color:fg-main}
palette = 0={color:bg-main}
palette = 1={color:red-faint}
palette = 2={color:green}
palette = 3={color:yellow}
palette = 4={color:blue}
palette = 5={color:magenta}
palette = 6={color:cyan}
palette = 7={color:fg-dim}
palette = 8={color:bg-dim}
palette = 9={color:red-intense}
palette = 10={color:green-intense}
palette = 11={color:yellow-intense}
palette = 12={color:blue-intense}
palette = 13={color:magenta-intense}
palette = 14={color:cyan-intense}
palette = 15={color:fg-main}
