{
  "$schema": "https://raw.githubusercontent.com/badlogic/pi-mono/main/packages/coding-agent/src/modes/interactive/theme/theme-schema.json",
  "name": "{meta:theme}",
  "colors": {
    "accent": "{color:blue}",
    "border": "{color:border}",
    "borderAccent": "{color:blue-intense}",
    "borderMuted": "{color:border-mode-line-inactive}",
    "success": "{color:green-intense}",
    "error": "{color:red-intense}",
    "warning": "{color:yellow-intense}",
    "muted": "{color:fg-dim}",
    "dim": "{color:border}",
    "text": "{color:fg-main}",
    "thinkingText": "{color:fg-dim}",
    "selectedBg": "{color:bg-active}",
    "userMessageBg": "{color:bg-dim}",
    "userMessageText": "{color:fg-main}",
    "customMessageBg": "{color:bg-region}",
    "customMessageText": "{color:fg-main}",
    "customMessageLabel": "{color:magenta}",
    "toolPendingBg": "{color:bg-dim}",
    "toolSuccessBg": "{color:bg-added}",
    "toolErrorBg": "{color:bg-removed}",
    "toolTitle": "{color:blue}",
    "toolOutput": "{color:fg-dim}",
    "mdHeading": "{color:yellow-faint}",
    "mdLink": "{color:blue-warmer}",
    "mdLinkUrl": "{color:fg-dim}",
    "mdCode": "{color:cyan-cooler}",
    "mdCodeBlock": "{color:green}",
    "mdCodeBlockBorder": "{color:border}",
    "mdQuote": "{color:fg-dim}",
    "mdQuoteBorder": "{color:border}",
    "mdHr": "{color:border}",
    "mdListBullet": "{color:cyan-intense}",
    "toolDiffAdded": "{color:fg-added-intense}",
    "toolDiffRemoved": "{color:fg-removed-intense}",
    "toolDiffContext": "{color:fg-dim}",
    "syntaxComment": "{color:fg-dim}",
    "syntaxKeyword": "{color:magenta-cooler}",
    "syntaxFunction": "{color:magenta}",
    "syntaxVariable": "{color:cyan}",
    "syntaxString": "{color:blue-warmer}",
    "syntaxNumber": "{color:fg-main}",
    "syntaxType": "{color:cyan-cooler}",
    "syntaxOperator": "{color:fg-main}",
    "syntaxPunctuation": "{color:fg-main}",
    "thinkingOff": "{color:border}",
    "thinkingMinimal": "{color:fg-dim}",
    "thinkingLow": "{color:blue-faint}",
    "thinkingMedium": "{color:cyan-intense}",
    "thinkingHigh": "{color:magenta-intense}",
    "thinkingXhigh": "{color:red-intense}",
    "bashMode": "{color:green-intense}"
  }
}
