<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVTFontAndColorVersion</key>
	<integer>1</integer>
	<key>DVTConsoleDebuggerInputTextColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTConsoleDebuggerOutputTextColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTConsoleDebuggerPromptTextColor</key>
	<string>{rgba:green}</string>
	<key>DVTConsoleExectuableInputTextColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTConsoleExectuableOutputTextColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTConsoleTextBackgroundColor</key>
	<string>{rgba:bg-dim}</string>
	<key>DVTConsoleTextInsertionPointColor</key>
	<string>{rgba:cursor}</string>
	<key>DVTConsoleTextSelectionColor</key>
	<string>{rgba:bg-region}</string>
	<key>DVTMarkupTextBackgroundColor</key>
	<string>{rgba:bg-dim}</string>
	<key>DVTMarkupTextBorderColor</key>
	<string>{rgba:border}</string>
	<key>DVTMarkupTextEmphasisColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTMarkupTextInlineCodeColor</key>
	<string>{rgba:magenta-faint}</string>
	<key>DVTMarkupTextLinkColor</key>
	<string>{rgba:cyan}</string>
	<key>DVTMarkupTextNormalColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTMarkupTextOtherHeadingColor</key>
	<string>{rgba:fg-alt}</string>
	<key>DVTMarkupTextPrimaryHeadingColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTMarkupTextSecondaryHeadingColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTMarkupTextStrongColor</key>
	<string>{rgba:fg-main}</string>
	<key>DVTScrollbarMarkerAnalyzerColor</key>
	<string>{rgba:magenta}</string>
	<key>DVTScrollbarMarkerBreakpointColor</key>
	<string>{rgba:blue}</string>
	<key>DVTScrollbarMarkerDiffColor</key>
	<string>{rgba:fg-alt}</string>
	<key>DVTScrollbarMarkerDiffConflictColor</key>
	<string>{rgba:red}</string>
	<key>DVTScrollbarMarkerErrorColor</key>
	<string>{rgba:red}</string>
	<key>DVTScrollbarMarkerRuntimeIssueColor</key>
	<string>{rgba:magenta-cooler}</string>
	<key>DVTScrollbarMarkerWarningColor</key>
	<string>{rgba:yellow}</string>
	<key>DVTSourceTextBackground</key>
	<string>{rgba:bg-main}</string>
	<key>DVTSourceTextBlockDimBackgroundColor</key>
	<string>{rgba:bg-dim}</string>
	<key>DVTSourceTextCurrentLineHighlightColor</key>
	<string>{rgba:bg-hl-line}</string>
	<key>DVTSourceTextInsertionPointColor</key>
	<string>{rgba:cursor}</string>
	<key>DVTSourceTextInvisiblesColor</key>
	<string>{rgba:fg-dim}</string>
	<key>DVTSourceTextSelectionColor</key>
	<string>{rgba:bg-region}</string>
	<key>DVTSourceTextSyntaxColors</key>
	<dict>
		<key>xcode.syntax.attribute</key>
		<string>{rgba:yellow-warmer}</string>
		<key>xcode.syntax.character</key>
		<string>{rgba:yellow}</string>
		<key>xcode.syntax.comment</key>
		<string>{rgba:fg-dim}</string>
		<key>xcode.syntax.comment.doc</key>
		<string>{rgba:fg-dim}</string>
		<key>xcode.syntax.comment.doc.keyword</key>
		<string>{rgba:fg-alt}</string>
		<key>xcode.syntax.declaration.other</key>
		<string>{rgba:cyan}</string>
		<key>xcode.syntax.declaration.type</key>
		<string>{rgba:blue}</string>
		<key>xcode.syntax.identifier.class</key>
		<string>{rgba:blue-cooler}</string>
		<key>xcode.syntax.identifier.class.system</key>
		<string>{rgba:magenta-cooler}</string>
		<key>xcode.syntax.identifier.constant</key>
		<string>{rgba:cyan-warmer}</string>
		<key>xcode.syntax.identifier.constant.system</key>
		<string>{rgba:magenta}</string>
		<key>xcode.syntax.identifier.function</key>
		<string>{rgba:blue-cooler}</string>
		<key>xcode.syntax.identifier.function.system</key>
		<string>{rgba:magenta-cooler}</string>
		<key>xcode.syntax.identifier.macro</key>
		<string>{rgba:yellow-warmer}</string>
		<key>xcode.syntax.identifier.macro.system</key>
		<string>{rgba:yellow}</string>
		<key>xcode.syntax.identifier.type</key>
		<string>{rgba:blue}</string>
		<key>xcode.syntax.identifier.type.system</key>
		<string>{rgba:magenta-cooler}</string>
		<key>xcode.syntax.identifier.variable</key>
		<string>{rgba:fg-main}</string>
		<key>xcode.syntax.identifier.variable.system</key>
		<string>{rgba:magenta-cooler}</string>
		<key>xcode.syntax.keyword</key>
		<string>{rgba:magenta-cooler}</string>
		<key>xcode.syntax.mark</key>
		<string>{rgba:fg-alt}</string>
		<key>xcode.syntax.markup.code</key>
		<string>{rgba:magenta-faint}</string>
		<key>xcode.syntax.number</key>
		<string>{rgba:yellow-warmer}</string>
		<key>xcode.syntax.plain</key>
		<string>{rgba:fg-main}</string>
		<key>xcode.syntax.preprocessor</key>
		<string>{rgba:yellow}</string>
		<key>xcode.syntax.regex</key>
		<string>{rgba:red}</string>
		<key>xcode.syntax.regex.capturename</key>
		<string>{rgba:cyan}</string>
		<key>xcode.syntax.regex.charname</key>
		<string>{rgba:magenta}</string>
		<key>xcode.syntax.regex.number</key>
		<string>{rgba:yellow-warmer}</string>
		<key>xcode.syntax.regex.other</key>
		<string>{rgba:fg-main}</string>
		<key>xcode.syntax.string</key>
		<string>{rgba:green}</string>
		<key>xcode.syntax.url</key>
		<string>{rgba:cyan-cooler}</string>
	</dict>
</dict>
</plist>
