{
  "$schema": "https://opencode.ai/theme.json",
  "theme": {
    "primary": "{color:blue}",
    "secondary": "{color:magenta-warmer}",
    "accent": "{color:cyan}",
    "error": "{color:red-intense}",
    "warning": "{color:yellow-warmer}",
    "success": "{color:green}",
    "info": "{color:cyan-cooler}",
    "text": "{color:fg-main}",
    "textMuted": "{color:fg-dim}",
    "background": "{color:bg-main}",
    "backgroundPanel": "{color:bg-dim}",
    "backgroundElement": "{color:bg-active}",
    "border": "{color:border}",
    "borderActive": "{color:border-mode-line-active}",
    "borderSubtle": "{color:border-mode-line-inactive}",
    "diffAdded": "{color:fg-added-intense}",
    "diffRemoved": "{color:fg-removed-intense}",
    "diffContext": "{color:fg-dim}",
    "diffHunkHeader": "{color:fg-alt}",
    "diffHighlightAdded": "{color:fg-added-intense}",
    "diffHighlightRemoved": "{color:fg-removed-intense}",
    "diffAddedBg": "{color:bg-added}",
    "diffRemovedBg": "{color:bg-removed}",
    "diffContextBg": "{color:bg-diff-context}",
    "diffLineNumber": "{color:fg-dim}",
    "diffAddedLineNumberBg": "{color:bg-added-faint}",
    "diffRemovedLineNumberBg": "{color:bg-removed-faint}",
    "markdownText": "{color:fg-main}",
    "markdownHeading": "{color:cyan-cooler}",
    "markdownLink": "{color:blue-warmer}",
    "markdownLinkText": "{color:cyan}",
    "markdownCode": "{color:cyan-cooler}",
    "markdownBlockQuote": "{color:fg-dim}",
    "markdownEmph": "{color:magenta}",
    "markdownStrong": "{color:yellow-warmer}",
    "markdownHorizontalRule": "{color:border}",
    "markdownListItem": "{color:fg-main}",
    "markdownListEnumeration": "{color:fg-alt}",
    "markdownImage": "{color:magenta}",
    "markdownImageText": "{color:fg-dim}",
    "markdownCodeBlock": "{color:cyan-cooler}",
    "syntaxComment": "{color:fg-dim}",
    "syntaxKeyword": "{color:magenta-cooler}",
    "syntaxFunction": "{color:magenta}",
    "syntaxVariable": "{color:cyan}",
    "syntaxString": "{color:blue-warmer}",
    "syntaxNumber": "{color:fg-main}",
    "syntaxType": "{color:cyan-cooler}",
    "syntaxOperator": "{color:fg-main}",
    "syntaxPunctuation": "{color:fg-main}"
  }
}
