{
  "document": {
    "block_prefix": "\n",
    "block_suffix": "\n",
    "color": "{color:fg-main}",
    "margin": 2
  },
  "block_quote": {
    "color": "{color:fg-dim}",
    "indent": 1,
    "indent_token": "| "
  },
  "paragraph": {},
  "list": {
    "level_indent": 2
  },
  "heading": {
    "block_suffix": "\n",
    "color": "{color:cyan-cooler}",
    "bold": true
  },
  "h1": {
    "prefix": "# ",
    "color": "{color:fg-main}",
    "background_color": "{color:bg-blue-subtle}",
    "bold": true
  },
  "h2": {
    "prefix": "## "
  },
  "h3": {
    "prefix": "### "
  },
  "h4": {
    "prefix": "#### "
  },
  "h5": {
    "prefix": "##### "
  },
  "h6": {
    "prefix": "###### ",
    "color": "{color:fg-dim}",
    "bold": false
  },
  "text": {},
  "strikethrough": {
    "crossed_out": true
  },
  "emph": {
    "italic": true
  },
  "strong": {
    "bold": true
  },
  "hr": {
    "color": "{color:border}",
    "format": "\n--------\n"
  },
  "item": {
    "block_prefix": "- "
  },
  "enumeration": {
    "block_prefix": ". "
  },
  "task": {
    "ticked": "[x] ",
    "unticked": "[ ] "
  },
  "link": {
    "color": "{color:blue-faint}",
    "underline": true
  },
  "link_text": {
    "color": "{color:cyan}",
    "bold": true
  },
  "image": {
    "color": "{color:magenta}",
    "underline": true
  },
  "image_text": {
    "color": "{color:fg-dim}",
    "format": "Image: {{.text}} ->"
  },
  "code": {
    "prefix": " ",
    "suffix": " ",
    "color": "{color:cyan-cooler}",
    "background_color": "{color:bg-dim}"
  },
  "code_block": {
    "color": "{color:fg-alt}",
    "margin": 2,
    "chroma": {
      "text": {
        "color": "{color:fg-main}"
      },
      "error": {
        "color": "{color:fg-main}",
        "background_color": "{color:bg-red-intense}"
      },
      "comment": {
        "color": "{color:fg-dim}"
      },
      "comment_preproc": {
        "color": "{color:yellow-warmer}"
      },
      "keyword": {
        "color": "{color:magenta-cooler}"
      },
      "keyword_reserved": {
        "color": "{color:magenta-intense}"
      },
      "keyword_namespace": {
        "color": "{color:red-warmer}"
      },
      "keyword_type": {
        "color": "{color:cyan-cooler}"
      },
      "operator": {
        "color": "{color:magenta}"
      },
      "punctuation": {
        "color": "{color:fg-alt}"
      },
      "name": {
        "color": "{color:fg-main}"
      },
      "name_builtin": {
        "color": "{color:blue-warmer}"
      },
      "name_tag": {
        "color": "{color:blue-cooler}"
      },
      "name_attribute": {
        "color": "{color:cyan}"
      },
      "name_class": {
        "color": "{color:fg-main}",
        "underline": true,
        "bold": true
      },
      "name_constant": {
        "color": "{color:blue-faint}"
      },
      "name_decorator": {
        "color": "{color:yellow-warmer}"
      },
      "name_exception": {
        "color": "{color:red}"
      },
      "name_function": {
        "color": "{color:magenta}"
      },
      "name_other": {
        "color": "{color:fg-main}"
      },
      "literal": {
        "color": "{color:fg-main}"
      },
      "literal_number": {
        "color": "{color:yellow-faint}"
      },
      "literal_date": {
        "color": "{color:cyan-faint}"
      },
      "literal_string": {
        "color": "{color:green-faint}"
      },
      "literal_string_escape": {
        "color": "{color:cyan-warmer}"
      },
      "generic_deleted": {
        "color": "{color:red}"
      },
      "generic_emph": {
        "italic": true
      },
      "generic_inserted": {
        "color": "{color:green-intense}"
      },
      "generic_strong": {
        "bold": true
      },
      "generic_subheading": {
        "color": "{color:fg-dim}"
      },
      "background": {
        "background_color": "{color:bg-dim}"
      }
    }
  },
  "table": {},
  "definition_list": {},
  "definition_term": {},
  "definition_description": {
    "block_prefix": "\n-> "
  },
  "html_block": {},
  "html_span": {}
}
