<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>{meta:theme_title}</string>
  <key>settings</key>
  <array>
    <dict>
      <key>settings</key>
      <dict>
        <key>background</key>
        <string>{color:bg-main}</string>
        <key>foreground</key>
        <string>{color:fg-main}</string>
        <key>caret</key>
        <string>{color:fg-main}</string>
        <key>selection</key>
        <string>{color:bg-active}</string>
        <key>selectionForeground</key>
        <string>{color:fg-main}</string>
        <key>lineHighlight</key>
        <string>{color:bg-dim}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
