gui:
  authorColors:
    '*': "{color:blue}"
  theme:
    activeBorderColor:
      - "{color:blue}"
      - bold
    inactiveBorderColor:
      - "{color:border}"
    searchingActiveBorderColor:
      - "{color:yellow}"
      - bold
    optionsTextColor:
      - "{color:blue}"
    selectedLineBgColor:
      - "{color:bg-active}"
    inactiveViewSelectedLineBgColor:
      - "{color:bg-dim}"
    cherryPickedCommitFgColor:
      - "{color:blue}"
    cherryPickedCommitBgColor:
      - "{color:bg-cyan-nuanced}"
    markedBaseCommitFgColor:
      - "{color:yellow}"
    markedBaseCommitBgColor:
      - "{color:bg-yellow-nuanced}"
    unstagedChangesColor:
      - "{color:red}"
    defaultFgColor:
      - "{color:fg-main}"
